<component name="ArtifactManager">
  <artifact type="exploded-war" name="springdemo-maven:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/springdemo_maven_war_exploded2</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springdemo-maven" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springdemo-maven/web/Web" />
    </root>
  </artifact>
</component>